@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}

.quote {
    margin: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}

.date {
    display: block;
    outline: none;
    margin: 0 auto;
    width: 200px;
    border: 2px solid;
    text-align: center;
    padding: 4px;
    border-image: linear-gradient(to top, red, #0000 70%) 1 round;
}

.calendar {
    display: block;
    margin: 20px auto;
}

.show-calendar {
    display: block;
    margin: 20px auto;
    width: 212px;
    outline: none;
    border: 2px solid;
    padding: 4px;
    background: #fff;
    border-image: linear-gradient(to bottom, red, #0000 70%) 1 round;
}

.show-calendar:hover {
    cursor: pointer;
}